@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;700&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "poppins", sans-serif;
  
}
  
header{
     margin-top: 47px;
     margin-left: 42px;

}
.link-header{
     font-weight: 400;
     font-size: 14px;
     line-height: 21px;
     text-align: center;
     letter-spacing: 0.88px;
     color: #17233D;
     margin-right: 32PX;
     cursor: pointer;
     display: none;
}

.button-header{
     background: #6FBF44;
     border: 1px solid #4CB538;
     border-radius: 6px;
     width: 124px;
     height: 51px;
     cursor: pointer;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 1px;
     color: #FFFFFF;
     display: none;
     
}

.img-logo{
     margin: 163px 0 0 123px;
     display: inline-block;
}

div{
     display: inline-block;
     margin-left:84px ; 
     width: 493px;
}

h1{ 
     font-weight: 700;
     font-size: 62px;
     line-height: 82px;
     letter-spacing: 0.6px;
     color: #161A49;
}

p{
     font-weight: 400;
     font-size: 18px;
     line-height: 33px;
     letter-spacing: 0.5px;
     color: #4B505A;
     height: 99px;
     top: 553px;
     left: 801px;
     margin-top: 47px;
     margin-bottom: 55px;
    }

.link-more{

     font-weight: 500;
     font-size: 18px;
     line-height: 27px;
     letter-spacing: 1px;
     color: #6FBF44;
     cursor: pointer;
     border: none;
}

@media screen and (max-width:850px) {
.caixa-left{
     width: 390px;
     height: 800px;
     padding: 1;
     top: -1455px;
     left: 1128px;
     Background: 3px;
  }

.caixa-right{
     display: block;
     height: 450px;
     width: 390px;
     position: static;
}

.img-logo{
     width: 278px;
     height: 288px;
     opacity: 1;
     position: relative;
     top: 650px;
}

h1{  
     width: 278px;
     height: 60px;
     font-weight: 700px;
     font-size: 30px;
     line-height: 30px;
     letter-spacing: 0.6px;
     text-align: center;
     right: 170px;

}

p{
     width : 304px;
     height: 165px;
     font-weight: 400px;
     font-size:18px;
     text-align: center;
     line-height: 33px;
     letter-spacing: 0.5px;
     opacity: 1;
     width: 390px;
     right: 170px;

}

.link-more{

     width: 112px;
     height: 27px;
     opacity: 1;
     font-weight: 500px;
     font-size: 18px;
     line-height: 100%;
     letter-spacing: 1;
     right: 170px;
     
}








}
